<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Body Comp Tracker</title>
  <!-- <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous"> -->
  <link rel="stylesheet" href="static/style.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.9.2/d3.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.js"></script>
  <!-- <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet"> -->
</head>
<body>
    <div id="layout">
        <div class="content">
            <div class="header">
                <h3>Current Measurements (7-day change):</h3>
            </div>
            <div class="info-container">
                <div id="weight" class="info-box"></div>
                <div id="lean-mass" class="info-box"></div>
                <div id="bfp" class="info-box"></div>
                <div id="bmr" class="info-box"></div>
            </div>
            <div class="svg-container"></div>
            <div class="button-container">
                <div id="one-month" class="center">
                    <button class="button">1m</button>
                </div>
                <div id="three-months" class="center">
                    <button class="button">3m</button>
                </div>
                <div id="six-months" class="pure-u-1-6 center">
                    <button class="button">6m</button>
                </div>
                <div id="one-year" class="pure-u-1-6 center">
                    <button class="button">1y</button>
                </div>
                <div id="two-year" class="pure-u-1-6 center">
                    <button class="button">2y</button>
                </div>
                <div id="all" class="pure-u-1-6 center">
                    <button class="button">All</button>
                </div>            
            </div>
            </div>
        </div>
    </div>
</body>
<script src="static/app.js"></script>
</html>
